*.1bpp
*.4bpp
*.8bpp
*.DS_Store
*.bak
*.bat
*.diff
*.dump
*.elf
*.exe
*.fwjpnfont
*.gba
!data/*.gba
*.sgm
*.sa1
*.sg1
*.gbapal
*.hwjpnfont
*.i
*.idb
*.id0
*.id1
*.id2
*.latfont
*.lz
*.map
*.nam
*.o
*.pcm
*.pl
*.rl
*.s.old
*.s.old2
*.sa*
*.swo
*.swp
*.til
.fuse*
.idea/
Thumbs.db
build/
cmake-build-*
ld_script_ruby.txt
ld_script_sapphire.txt
sound/**/*.bin
sound/songs/midi/*.s
src/data/items.h
src/data/wild_encounters.h
src/data/region_map/region_map_entries.h
src/data/region_map/region_map_entry_strings.h
src/data/region_map/porymap_config.json
tags
tools/agbcc
tools/binutils
types_*.taghl
!.github/calcrom/calcrom.pl
!sound/programmable_wave_samples/*.pcm
_Deparsed_XSubs.pm
porymap.*.cfg
prefabs.json
.vscode/*.*
*.js
*.sym
msys2 - Shortcut.lnk
porymap - Shortcut.lnk
*.lnk
*.ss1
agbcc/include/_ansi.h
agbcc/include/_syslist.h
agbcc/include/ar.h
agbcc/include/assert.h
agbcc/include/ctype.h
agbcc/include/dirent.h
agbcc/include/errno.h
agbcc/include/fastmath.h
agbcc/include/fcntl.h
agbcc/include/float.h
agbcc/include/grp.h
agbcc/include/ieeefp.h
agbcc/include/iso646.h
agbcc/include/limits.h
agbcc/include/locale.h
agbcc/include/machine/fastmath.h
agbcc/include/machine/ieeefp.h
agbcc/include/machine/setjmp-dj.h
agbcc/include/machine/setjmp.h
agbcc/include/machine/time.h
agbcc/include/machine/types.h
agbcc/include/malloc.h
agbcc/include/math.h
agbcc/include/paths.h
agbcc/include/process.h
agbcc/include/pwd.h
agbcc/include/reent.h
agbcc/include/regdef.h
agbcc/include/setjmp.h
agbcc/include/signal.h
agbcc/include/stdarg.h
agbcc/include/stdbool.h
agbcc/include/stddef.h
agbcc/include/stdint.h
agbcc/include/stdio.h
agbcc/include/stdlib.h
agbcc/include/string.h
agbcc/include/sys/_types.h
agbcc/include/sys/config.h
agbcc/include/sys/dirent.h
agbcc/include/sys/errno.h
agbcc/include/sys/fcntl.h
agbcc/include/sys/file.h
agbcc/include/sys/param.h
agbcc/include/sys/reent.h
agbcc/include/sys/resource.h
agbcc/include/sys/signal.h
agbcc/include/sys/stat-dj.h
agbcc/include/sys/stat.h
agbcc/include/sys/time.h
agbcc/include/sys/timeb.h
agbcc/include/sys/times.h
agbcc/include/sys/types.h
agbcc/include/sys/unistd.h
agbcc/include/sys/utime.h
agbcc/include/sys/wait.h
agbcc/include/termios.h
agbcc/include/time.h
agbcc/include/unctrl.h
agbcc/include/unistd.h
agbcc/include/utime.h
agbcc/include/utmp.h
agbcc/lib/libc.a
agbcc/lib/libgcc.a
